/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

/*------------BEGIN HEADER--------------*/
header {
  background: #f55136;
  height: 100px;
  display: grid;
  grid-template-columns: 33% 1fr 1fr;
  color: white;
  align-self: center;
}
header div {
  align-self: center;
  text-align: center;
}
header div:nth-child(1) {
  font-size: 27px;
  font-weight: 700;
}
header div:nth-child(3) {
  font-size: 2.3rem;
  letter-spacing: 4px;
  display: -webkit-inline-box;
  background: linear-gradient(80deg, #f7755f 0%, #f55136 50%);
  border-radius: 19px;
  border-width: 0.5px 0.5px 0.5px 0.5px;
  position: relative;
  z-index: 1;
}
header div:nth-child(3) .join-span {
  position: relative;
  z-index: 2;
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 3rem;
  transform: rotate(-90deg);
  -webkit-transform: rotate(334deg);
  -moz-transform: rotate(334deg);
  -ms-transform: rotate(334deg);
  -o-transform: rotate(334deg);
  transform: rotate(334deg);
}
header div:nth-child(3) .fas {
  font-size: 69px;
}
header .apply {
  letter-spacing: 1px;
  width: 260px;
  height: 65px;
  transform: skew(-15deg);
  background: #ffffff;
  color: red;
  font-size: 14px !important;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 0px 0px 8px 2px #f3ebeb;
  -moz-box-shadow: 0px 0px 8px 2px #f3ebeb;
  box-shadow: 0px 0px 8px 2px #f3ebeb;
}
header .apply:hover {
  background: #00469a;
  transition: 0.6s ease-in-out;
  color: white;
}
header .apply p {
  font-weight: bolder;
  padding-top: 28px;
}
header .apply p:hover {
  color: white;
}

/*------------END HEADER--------------*/
/*------------BEGIN AUTOSHOPLOGO-INFO SECTION--------------*/
#logo-hours-review-appoinments {
  margin-top: -30px;
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;
}
#logo-hours-review-appoinments .left-side {
  display: grid;
  grid-template-columns: 50% 1fr;
}
#logo-hours-review-appoinments .left-side .autoshoplogo-area {
  float: left;
  position: relative;
  right: 20px;
  top: 40px;
}
#logo-hours-review-appoinments .left-side .autoshoplogo-area .logo {
  float: right;
  text-align: center;
}
#logo-hours-review-appoinments .left-side .autoshoplogo-area .logo span {
  color: #d3261f;
  font-size: 25px;
  font-family: "Carter One", cursive;
}
#logo-hours-review-appoinments .left-side .autoshoplogo-area .logo .span0 {
  color: #240f0c;
  font-size: 25px;
  font-family: "Carter One", cursive;
}
#logo-hours-review-appoinments .left-side .autoshoplogo-area .logo .span1 {
  color: #240f0c;
  font-size: 8px;
}
#logo-hours-review-appoinments .left-side .info-area {
  width: 80%;
  position: relative;
  top: 30px;
}
#logo-hours-review-appoinments .left-side .info-area .hours-area {
  float: left;
}
#logo-hours-review-appoinments .left-side .info-area .hours-area span {
  font-weight: bolder;
  font-size: 18px;
}
#logo-hours-review-appoinments .left-side .info-area .hours-area p {
  margin-top: 3px;
  font-size: 13px;
  letter-spacing: 1px;
}
#logo-hours-review-appoinments .right-side {
  float: right;
}
#logo-hours-review-appoinments .right-side .reviews-area {
  position: relative;
  top: 24px;
  float: left;
}
#logo-hours-review-appoinments .right-side .reviews-area .farmers-branch {
  margin-right: 14px;
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none !important;
}
#logo-hours-review-appoinments .right-side .reviews-area .review-count {
  font-size: 0.9rem;
  float: right;
  text-decoration: underline;
  margin-left: 12px;
  position: relative;
  top: 3px;
}
#logo-hours-review-appoinments .right-side .stars-count {
  float: right;
  margin-top: 3px;
}
#logo-hours-review-appoinments .right-side .stars-count .fas {
  color: #f55136;
  margin-right: 5px;
}
#logo-hours-review-appoinments .right-side .appointments-area {
  float: right;
  letter-spacing: 1px;
}
#logo-hours-review-appoinments .right-side .appointments-area .appointments-text {
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-weight: 700;
  width: 400px;
  height: 65px;
  transform: translate(8px, 0px) skew(-14deg, 0deg);
  background: #00469a;
  color: white;
  font-size: 14px !important;
  text-align: center;
  margin: auto;
  position: relative;
}
#logo-hours-review-appoinments .right-side .appointments-area .appointments-text .text {
  position: relative;
  left: 50px;
}
#logo-hours-review-appoinments .right-side .appointments-area .appointments-text .text:hover {
  background: linear-gradient(80deg, #f7755f 0%, #f55136 50%);
  background: #f55136;
  transition: 0.5s ease-in-out;
}

#nav-bar {
  width: 100%;
  margin-top: -30px;
}
#nav-bar .nav-links {
  margin-left: 353px;
}
#nav-bar .nav-links ul li {
  display: inline-block;
  margin-left: 7px;
  font-size: 14px;
  letter-spacing: 0.2px;
  word-spacing: 0px;
}
#nav-bar .nav-links ul li:hover {
  color: #f55136;
  cursor: pointer;
}
#nav-bar .nav-links ul li:nth-child(1) {
  color: #f55136;
}
#nav-bar .nav-links ul li:nth-child(9) {
  margin-left: 60px;
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  font-weight: bold;
  color: black;
}
#nav-bar .nav-links ul li:nth-child(9) span {
  color: blue;
}
#nav-bar .nav-links ul li:nth-child(9) span:hover {
  color: #f55136;
  cursor: pointer;
}

#top-section .tekashi-img {
  margin: 0 auto;
}

#top-section .tekashi-img img {
  max-width: 1420px;
  height: 600px;
}

#top-section .floating-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#top-section .floating-img .text {
  position: absolute;
  text-align: right;
  color: white;
  font-size: 3.3rem;
  font-weight: 900;
  right: 100;
  bottom: -80px;
}

/*--------BEGIN BANNER SECTION-------*/
#banner {
  text-align: center;
  margin-top: 60px;
}
#banner .container .banner-main h1 {
  position: relative;
  display: block;
  color: #f55136;
  font: 700 2em/1em "Rajdhani", Arial, sans-serif;
}
#banner .container .banner-main h2 {
  margin-bottom: 0.5em;
  color: #303030;
  font: 400 1.5em/1.25em "Lato", Arial, sans-serif;
  text-transform: uppercase;
}
#banner .container .banner-main h3 {
  width: 80%;
  margin: 0 auto 10px;
  color: #303030;
  font: 400 1em/1.94em "Lato", Arial, sans-serif;
}
#banner .container .banner-main h4 {
  letter-spacing: 1px;
  width: 260px;
  height: 65px;
  transform: skew(-15deg);
  background: #f55136;
  color: white;
  font-size: 21px !important;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 0px 0px 8px 2px #f55136;
  -moz-box-shadow: 0px 0px 8px 2px #f55136;
  box-shadow: 0px 0px 8px 2px #f55136;
  font: 700 2rem "Rajdhani", Arial, sans-serif;
}
#banner .container .banner-main h4:hover {
  cursor: pointer;
  background: #00469a;
  transition: 0.6s ease-in-out;
  color: white;
  -webkit-box-shadow: 0px 0px 8px 2px #00469a;
  -moz-box-shadow: 0px 0px 8px 2px #00469a;
  box-shadow: 0px 0px 8px 2px #00469a;
}
#banner .container .banner-main h4 .redeem-now {
  position: relative;
  top: 28px;
  font-weight: 900;
}

/*------END BANNER SECTION---------------*/
/*-----BEGIN COMPANY-PERKS SECTION-------*/
#company-perks {
  margin-top: 40px;
  position: relative;
  z-index: 1;
  height: 551px;
  width: 100%;
  background: white;
}
#company-perks .technica img {
  height: 350px !important;
  width: 350px !important;
  position: relative !important;
  z-index: 11 !important;
  float: right;
  top: -242px;
  transform: initial;
  opacity: 1;
  right: 70px;
}
#company-perks img {
  position: absolute;
  z-index: 0;
  top: -112px;
  width: 50%;
  transform: rotate(-20deg);
  right: 332px;
  opacity: 0.3;
}
#company-perks .container {
  border: 2px solid #1900ff;
  height: 80%;
  position: relative;
  z-index: 2;
  background: #00469a;
  top: 110px;
}
#company-perks .container img {
  position: absolute;
  right: 22px;
  top: -22px;
  transform: rotate(0deg);
  height: 440px;
  transform: rotate(0deg);
  left: 0;
}
#company-perks .container h1 {
  opacity: 1;
  z-index: 2;
  position: absolute;
  text-align: center;
  color: white;
  font-weight: bold !important;
  font-size: 2.2rem;
  padding: 15px;
  background: #fdb927;
  width: 100%;
  height: 66px;
  top: -67px;
}
#company-perks .container .ul-list {
  height: 100%;
  width: 100%;
  background: rgba(0, 70, 154, 0.5);
  z-index: 4;
  position: absolute;
  color: white;
  letter-spacing: 3px;
  top: 0px;
  padding: 56px 46px 56px 0px;
}
#company-perks .container .ul-list ul {
  list-style-type: square;
  color: white;
}
#company-perks .container .ul-list ul li {
  font-weight: 100;
  margin: 10px 0;
}
#company-perks .container .ul-list ul li span {
  font-weight: bold;
}
#company-perks .container .up-garage {
  top: 20px;
  z-index: 5 !important;
  position: relative;
  width: 100%;
}

/*----------END COMPANY-PERKS SECTION-------*/
/* ------BEGIN AUTO REPAIR SECTION----- */
#auto-repair {
  height: 851px;
  width: 100%;
  background: white;
}
#auto-repair .container .main .header {
  margin: 0 auto;
  width: 100%;
  height: 200px;
  text-align: center;
}
#auto-repair .container .main .header h1 {
  position: relative;
  left: 39px;
  font-size: 3rem;
  background: white;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 50px;
}
#auto-repair .container .main .columns {
  margin-top: 15px;
}
#auto-repair .container .main .left {
  float: left;
  height: 600px;
  width: 33%;
  line-height: 35px;
}
#auto-repair .container .main .middle {
  float: left;
  height: 600px;
  width: 33%;
  line-height: 35px;
}
#auto-repair .container .main .middle img {
  height: 300px;
  width: 90%;
}
#auto-repair .container .main .right {
  float: left;
  height: 600px;
  width: 33%;
  line-height: 40px;
}
#auto-repair .container .main .right .senior {
  margin: 20px 0;
}
#auto-repair .container .main .right ul li {
  list-style-type: square;
}

/*-------------END AUTO REPAIR SECTION ----------*/
/* --------BEGIN OUR SERVICES SECTION----------*/
#our-services .container .header {
  margin: 0 auto;
  width: 100%;
  height: 200px;
  text-align: center;
}
#our-services .container .header h1 {
  position: relative;
  font-size: 3rem;
  background: white;
  text-align: center;
  width: 100%;
  height: 150px;
  padding: 50px;
  font-weight: 900;
}
#our-services .container .cards-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-family: rajdhani;
  font-weight: bold;
  font-size: 5rem;
  float: left;
  background: white;
  color: white;
}
#our-services .container .cards-area .card {
  margin: 3px;
}
#our-services .container .cards-area .card h2 {
  font-size: 1.4rem;
  text-align: center;
}
#our-services .container .cards-area .box-image {
  background: #f55136;
  height: 300px;
  width: 260px;
  position: relative;
}
#our-services .container .cards-area .box-image:hover {
  background: #00469a;
  cursor: pointer;
}
#our-services .container .cards-area .box-image.one h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image.one img {
  position: absolute;
  width: 73%;
  left: 33px;
  bottom: 45px;
}
#our-services .container .cards-area .box-image.one h2 {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#our-services .container .cards-area .box-image h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image.two h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image.two img {
  position: absolute;
  width: 94%;
  left: 7px;
  bottom: 45px;
}
#our-services .container .cards-area .box-image.two h2 {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#our-services .container .cards-area .box-image.three h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image.three img {
  position: absolute;
  width: 113%;
  left: -17px;
  bottom: 54px;
  transform: skew;
  transform: rotate(-15deg);
}
#our-services .container .cards-area .box-image.three h2 {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#our-services .container .cards-area .box-image.four h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image.four img {
  position: absolute;
  width: 68%;
  left: 55px;
  bottom: -12px;
}
#our-services .container .cards-area .box-image.four h2 {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#our-services .container .cards-area .box-image.five h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image.five img {
  position: absolute;
  width: 94%;
  left: 7px;
  bottom: 31px;
  transform: rotate(137deg);
}
#our-services .container .cards-area .box-image.five h2 {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#our-services .container .cards-area .box-image.six h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image.six img {
  position: absolute;
  width: 110%;
  left: 7px;
  bottom: 45px;
}
#our-services .container .cards-area .box-image.six h2 {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#our-services .container .cards-area .box-image h1 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#our-services .container .cards-area .box-image img {
  position: absolute;
  width: 74%;
  left: 36px;
  bottom: 21px;
}
#our-services .container .cards-area .box-image h2 {
  position: absolute;
  bottom: 0;
  left: 40px;
}
#our-services .redeem-now {
  display: flex;
  align-content: center;
  letter-spacing: 1px;
  width: 260px;
  height: 65px;
  transform: skew(-15deg);
  background: #f55136;
  color: white;
  font-size: 14px !important;
  font-weight: 900;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 0px 0px 8px 2px #f3ebeb;
  -moz-box-shadow: 0px 0px 8px 2px #f3ebeb;
  box-shadow: 0px 0px 8px 2px #f3ebeb;
}
#our-services .redeem-now:hover {
  background: #00469a;
  transition: 0.6s ease-in-out;
  color: white;
  cursor: pointer;
}
#our-services .redeem-now p {
  align-self: center;
  margin: 0 auto;
}
#our-services .redeem-now p:hover {
  color: white;
  cursor: pointer;
}

/*BEGIN CLIENT-CAROUSEL SECTION*/
#client-carousel {
  position: absolute;
  width: 100%;
}
#client-carousel .main {
  background-image: url("https://images.theconversation.com/files/218390/original/file-20180510-34024-1awkun6.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=496&fit=clip");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  opacity: 0.09;
  position: absolute;
  z-index: 1;
  filter: grayscale(100%);
}
#client-carousel .container .content-section {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 124px;
}
#client-carousel .container .content-section h2 {
  font-size: 3rem;
  font-family: roboto;
  margin: 15px;
}
#client-carousel .container .content-section h3 {
  font-style: italic;
  margin: 15px;
  line-height: 31px;
  letter-spacing: 1px;
}
#client-carousel .container .content-section h4 {
  line-height: 31px;
  letter-spacing: 1px;
}
#client-carousel .container .content-section h4 .chris-name {
  font-weight: 900;
  color: red;
}
#client-carousel .container .content-section h4 .all-reviews {
  font-weight: 700;
  text-decoration: underline;
}
#client-carousel .container .content-section .stars-count .fas {
  color: #f55136;
  margin-right: 5px;
}
#client-carousel .container .content-section .stars-count .chris-name {
  font-weight: 900;
  font-size: 20px;
  margin-right: 15px;
}
#client-carousel .container .content-section .stars-count .all-reviews {
  font-weight: 700;
  text-decoration: underline;
  margin-left: 15px;
}
#client-carousel .container .content-section .chevron-right {
  position: absolute;
  top: 62px;
  right: -30px;
  font-size: 2rem;
  color: gray;
}
#client-carousel .container .content-section .chevron-left {
  position: absolute;
  top: 62px;
  left: -30px;
  font-size: 2rem;
  color: gray;
}

/*# sourceMappingURL=styles.css.map */
